logs
target
tmp
.history
dist
/.idea
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/project/project
/project/target
/public/file
/public/dynamicFiles/

/*.iml
*.txt#
*.txt~
*.asc
*.asc#
*.js#
*.js~
*.java#
*.java~
*.bin
*.marks
*.dss
*.ovr
*.adf
*.dat
*.nit
*.aux.xml
*.dir
*.xlsx
*.sel

conf/routes~

*.db
