.x-panel-header-default {
  font-size: 11px;
  border-color: #99bce8;
  border-width: 1px;
  border-style: solid;
  background-image: none;
  background: #cee2e8;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cee2e8), color-stop(49%,#8ab6cc), color-stop(50%,#527e8c), color-stop(100%,#c0dbc9));
  background: -webkit-linear-gradient(top,  #cee2e8 0%,#8ab6cc 49%,#527e8c 50%,#c0dbc9 100%);
  background: -moz-linear-gradient(top,  #cee2e8 0%, #8ab6cc 49%, #527e8c 50%, #c0dbc9 100%);
  background: -o-linear-gradient(top,  #cee2e8 0%,#8ab6cc 49%,#527e8c 50%,#c0dbc9 100%);
  background: -ms-linear-gradient(top,  #cee2e8 0%,#8ab6cc 49%,#527e8c 50%,#c0dbc9 100%);
  background: linear-gradient(to bottom,  #cee2e8 0%,#8ab6cc 49%,#527e8c 50%,#c0dbc9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cee2e8', endColorstr='#c0dbc9',GradientType=0 );
  -moz-box-shadow: #f4f8fd 0 1px 0px 0 inset;
  -webkit-box-shadow: #f4f8fd 0 1px 0px 0 inset;
  -o-box-shadow: #f4f8fd 0 1px 0px 0 inset;
}


.x-dss-header-checkbox .x-form-checkbox {
  vertical-align: -3px;
}

.x-menu-item-slider-text-left {
  font-size: 11px;
  color: #222222; 
}

.x-accordion-hd .x-panel-header-text {
  color: #022048;
  text-shadow: 0px 1px 1px #999;
  filter: dropshadow(color=#999, offx=0, offy=1);
  font-size: 13px;
}

.x-panel-header-text-default {
  color: #022048;
  text-shadow: 0px -1px 1px #ffffff;
  filter: dropshadow(color=#ffffff, offx=0, offy=-1);
  font-weight: bold;
  font-size: 13px;
}

.dss-greyed .dss-grey-scenario-grid {
	color: #888
}

div.olLayerGoogleCopyright, div.olLayerGooglePoweredBy {
	display: none !important;
}

.olCursorHand {
    cursor: pointer;
}  

.olControlPanPanel div {
    background-image: url('app/images/pan-panel.png');
    height: 18px;
    width: 18px;
    cursor: pointer;
    position: absolute;
}
.olControlPanPanel .olControlPanNorthItemInactive {
    top: 0;
    left: 9px;
    background-position: 0 0;
}
.olControlPanPanel .olControlPanSouthItemInactive {
    top: 36px;
    left: 9px;
    background-position: 18px 0;
}
.olControlPanPanel .olControlPanWestItemInactive {
    position: absolute;
    top: 18px;
    left: 0;
    background-position: 0 18px;
}
.olControlPanPanel .olControlPanEastItemInactive {
    top: 18px;
    left: 18px;
    background-position: 18px 18px;
}
.olControlScaleLineBottom {
   border: solid 2px black;
   background-color: #668;
   opacity: 0.75;
   border-bottom: none;
   margin-top:-2px;
   text-align: center;
   box-shadow: 0px 0px 0px 1px #334;
}
.olControlScaleLineTop {
   border: solid 2px black;
   background-color: #686;
   opacity: 0.75;
   border-top: none;
   text-align: center;
   box-shadow: 0px 0px 0px 1px #343;
}

.olControlScaleLine {
   display: block;
   position: absolute;
   left: 10px;
   bottom: 15px;
   font-size: xx-small;
   color: #fff;
   text-shadow: 0px 1px 2px #000
}
