<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@{Application.getApplicationName()} v@{Application.getVersion()}</title>

	<link rel="stylesheet" type="text/css" href="./app/css/ext-all-debug.css">
	<script type="text/javascript" src="./app/ext-all-debug.js"></script>
		
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOjDnkofaq8pA0ZHL4Sfw5taCWXCLra6M"></script>
    <script type="text/javascript" src="./app/OpenLayers.js"></script>
    
    <script type="text/javascript">OpenLayers.ImgPath = "./app/images/";</script>
    <link rel="stylesheet" href="./app/stylesheets/main.css">
    
    <script type="text/javascript" src="./app/app.js?_dc=1354642241337"></script>
    
    <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  		ga('create', 'UA-60825214-1', 'auto');ga('send', 'pageview');
	</script>

</head>
<body></body>
</html>
