<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@{Application.getApplicationName()} v@{Application.getVersion()}</title>

	<link rel="stylesheet" type="text/css" href="./app/css/ext-all-debug.css">
	<script type="text/javascript" src="./app/ext-all-debug.js"></script>
		
    <script type="text/javascript" src="./app/OpenLayers.js"></script>
    
    <script type="text/javascript">OpenLayers.ImgPath = "./app/images/";</script>
    <link rel="stylesheet" href="./app/stylesheets/main.css">
    
    <script type="text/javascript" src="./app/app.js?_dc=1354642241337"></script>
    
</head>
<body></body>
</html>
